mat-toolbar {
	display: flex;
	gap: 5px;
}

.material-icons {
    font-size: 35px;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
}

mat-icon {
	min-height: fit-content;
	min-width: fit-content;
}

.link-text:hover {
	cursor: pointer;
}