$add: #3F51B5;

h2 {
  text-align: center;
}

.cards {
  margin: auto;
}

mat-card {
	padding: 15px;
}

.employee-input {
  display: flex;
  align-items: center;
  gap: 15px;

  mat-form-field {
    flex: 1;
	background-color: none !important;
  }

  button {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: $add;
	color: white;
  }
}

.hours {
  min-height: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hours-input {
  max-width: 75px;
  margin-left: 15px;
  text-align: center;
}

.total-cell {
  text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid black;

    &:not(:first-child) {
        padding-left: 15px;
    }
}

td {
    text-align: center;
    padding: 10px 0px;
}

tr td {
    border-bottom: 1.5px solid #C1C1C1;
}