<div>
  <table>
    <thead>
      <th>Name</th>
      @for (day of weekdays; track $index) {
      <th>{{ day | titlecase }}</th>
      }
      <th>Total Hours</th>
      <th>Pay Rate</th>
      <th>Total Pay</th>
    </thead>

    <tbody>
      @for (employee of departmentEmployees; track $index) {
      <tr>
        <td>{{ employee.name }}</td>
        @for (day of weekdays; track $index){
        <td>{{ employee[day] | number : '1.2-2' }}</td>
        }
        <td class="total-cell">{{ getTotalHours(employee) | number : '1.2-2' }}</td>
        <td>{{ employee.payRate | currency: 'USD'}}/hr</td>
        <td>{{ employee.payRate * getTotalHours(employee) | currency: 'USD' }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
